@import "tailwindcss";


@theme {
  --color-base: #695EEA;
  --color-dark: #333333;
  --color-light: #F1F1F1;
}

@font-face {
  font-family: Jarkata;
  src: url("/PlusJakartaSans-VariableFont_wght.ttf");
}

*{
  font-family: "Jarkata", sans-serif;
  letter-spacing: -0.9px;
}

* { scrollbar-width: none; -ms-overflow-style: none; }
*::-webkit-scrollbar { display: none; }

/* HTML: <div class="loader"></div> */
.loader {
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: 
    radial-gradient(farthest-side,#fff 94%,#0000) top/3px 3px no-repeat,
    conic-gradient(#0000 30%,#fff);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 3px),#000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13{ 
  100%{transform: rotate(1turn)}
}